/* General */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: Open Sans;
  background-color: #ede2ff;
  margin-left: 20px;
  margin-top: 130px;
  position: relative;
}

header {
  background-image: linear-gradient(to bottom right, #80ffdb 10%, #56cfe1);
  padding-top: 0px;
  position: fixed;
  top: 0px;
  left: 2px;
  right: 2px;
  /*   Navigation Menu */
  ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #72efdd;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
  }

  li a:hover,
  dropdown:hover .dropbtn {
    background-color: #72efdd;
    font-weight: bold;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #72efdd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #72efdd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .menu-active {
    background-color: #64dfdf;
  }
}

#fitness-title {
  font-family: Bebas Neue;
  font-size: 50px;
  font-weight: bold;
  padding-left: 10px;
  margin: 5px;
  text-shadow: 1px 2px #56cfe1;
}

.description {
  text-align: justify;
  text-justify: inter-word;
  margin-right: 30px;
  margin-left: 10ps;
}

/* Home Page */
#gif-running {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 1px;
  figcaption {
    font-size: 8px;
  }
}

#img-marathonist {
  display: inline-block;
  figcaption {
    display: table-caption;
    font-size: 10px;
    width: 450px;
    caption-side: bottom;
  }
}

/* Quiz */
#quiz {
  h1 {
    font-family: Bebas Neue;
    text-align: center;
  }
  align-content: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quizQuestion {
  font-family: Open Sans;
  font-size: 20px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

#quizOptions {
  text-align: left;
}

#quizOptions label {
  display: block;
  margin-top: -5px;
}

.quizBtn {
  font-family: Open Sans;
  background-color: #6930c3;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quizBtn:hover {
  background-color: #5e60ce;
}

#quizResult {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

/* Meal Calories Calculator */
.column-container {
  column-count: 3;
  column-gap: 20px;
  column-rule: 4px dotted #5e60ce;
  margin-top: 20px;
  button {
    font-family: Open Sans;
    background-color: #56cfe1;
    color: #ffffff;
    padding: 5px;
    margin: 2px;
    border: 1px solid #6930c3;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px #999;
    &:hover {
      background-color: #5390d9;
    }
    &:active {
      background-color: #5390d9;
      box-shadow: 1px 1px #666;
      transform: translateY(4px);
    }
  }
}

.meal-calc-result {
  text-align: center;
}

#reset-meal-calc {
  font-family: Open Sans;
  background-color: #5e60ce;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
}

.calories {
  display: inline-block;
  margin-left: 0;
  font-weight: bold;
  font-size: 18px;
}

.cal-counter {
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
}

/* BMI Calculator */

#resultBMI {
  margin-top: 20px;
  font-weight: bold;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  h1 {
    font-family: Bebas Neue;
    text-align: center;
  }
  form {
    text-align: center;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    font-family: Open Sans;
    background-color: #6930c3;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #5e60ce;
  }
}

/* .hide-pace-calc button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
} */

.result {
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: black;
  text-align: center;
}

/* About Page */
/* 
.gif-squid {
  position: fixed;
  bottom: 0px;
  margin: 1px;
  img {
    border: none;
  }
  figcaption {
    font-size: 8px;
  }
} */

#hide-about {
  ul {
    list-style-type: none;
  }
  li {
    float: left;
    color: black;
  }
  figure {
    img {
      display: block;
      margin: 3px auto;
      padding: 1px;
      border: 1px solid #ccc;
    }
    figcaption {
      font-family: Bebas Neue;
      font-size: 20px;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}